<div class="title-s">
  <h3> Inspired by this site: <%= link_to @name , @source %> </h3>
</div>
<div id="container-s" class="container-s"></div>
<div id="menu-s">
  <button id="table-s">TABLE</button>
  <button id="sphere-s">SPHERE</button>
  <button id="helix-s">HELIX</button>
  <button id="grid-s">GRID</button>
</div>
