<div class="title">
  <h3> Inspired by this site: <%= link_to @name , @source %> </h3>
</div>
<div id="container" class="container"></div>
<div id="menu">
  <button id="table">TABLE</button>
  <button id="sphere">SPHERE</button>
  <button id="helix">HELIX</button>
  <button id="grid">GRID</button>
</div>
